{
  "env": {
    "browser": true
  },
  "globals": {
    "cordova": true,
    "require": true,
    "module": true
  },
  "plugins": [],
  "extends": "es5",
  "rules": {
    "func-names": 0
  },
  "root": true
}
